/* CSS for the Calendar Page */
body {
    margin: 0;
    background-color: #2b3137;
    color: white;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    margin-right: 20px;
}

.nav {
    margin: 20px;
    text-decoration: none;
    color: antiquewhite;
}

.nav:hover {
    color: whitesmoke;
}

#moodr {
    all: unset;
    text-decoration: none;
    margin: 20px;
    margin-left: 10px;
    color: whitesmoke;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    width: 95%;
    background-color: #24292e;
    min-height: 85vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#calender{
    width: 95%;
    background-color: whitesmoke;
    max-width: 1400px;
    margin: 20px 0;
    border-radius: 10px;
}

.calendar-container {
    width: 100%;
    max-width: 1400px;
    margin: 20px 0;
}

.calendar-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #181e23;
}

.calendar-container iframe {
    margin: 0 auto;
    display: block;
    border: 0;
    width: 95%;
    height: 700px;
    border-radius: 8px;
} 