/* CSS for the Main Pages */
body {
    margin: 0;
    background-color: #2b3137;
    color: white;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header p.nav {
    margin-left: 10px;
}

.nav-links {
    margin-right: 20px;
}

.nav {
    margin: 20px;
    text-decoration: none;
    color: antiquewhite;
}

.nav:hover {
    color: whitesmoke;
}

#moodr {
    all: unset;
    text-decoration: none;
    margin: 20px;
    margin-left: 10px;
    color: whitesmoke;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    width: 80%;
    min-height: 80vh;
    padding: 20px;
    background-color: #24292e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-intro,
#make-post,
#announcments,
#table {
    width: 90%;
    background-color: #f5f5f5;
    color: #181e23;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #181e23;
    /* padding-left: 20px; */
    margin-left: 30px;
}

p,
li {
    margin-left: 30px;
    margin-right: 5px;
    /* padding-left: 20px; */
}

#make-post {
    width: 90%;
    background-color: whitesmoke;
    color: #181e23;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#make-post h1 {
    margin-bottom: 20px;
    color: #181e23;
    text-align: left;
}

.make-post-container {
    display: flex;
    align-items: center;
}

#make-post form {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#make-post label {
    margin-bottom: 5px;
    font-weight: bold;
}

#make-post input[type="text"],
#make-post textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

#make-post input[type="text"]:focus,
#make-post textarea:focus {
    border-color: #24292e;
    background-color: #fff;
}

#make-post button {
    width: 120px;
    padding: 10px;
    background-color: #24292e;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: left;
}

#make-post button:hover {
    background-color: #181e23;
}

#make-post input[type="text"]::placeholder,
#make-post textarea::placeholder {
    font-family: monospace, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #888;
}

#make-post input[type="text"],
#make-post textarea {
    font-family: monospace, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.post {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    margin-bottom: 20px;
}

.timestamp {
    color: rgba(0, 0, 0, 0.2);
    font-style: italic; 
}

.trash-icon {
    margin-left: auto;
    cursor: pointer; /* Changes curser to seem clickable */
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out; /* Makes a nice animation */
    position: relative;
    top: 12px
}

.trash-icon:hover {
    opacity: 1; /* Makes a nice animation */
}

/* Calendar styling */
.calendar-container {
    width: 95%;
    max-width: 1200px;
    background-color: whitesmoke;
    color: #181e23;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calendar-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #181e23;
}

.calendar-container p {
    margin-bottom: 20px;
    text-align: center;
}

.calendar-container iframe {
    margin: 0 auto;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0;
    width: 100%;
    height: 600px;
}

img{
    margin-top:5px;
}

/* Load icon https://www.w3schools.com/howto/howto_css_loader.asp */
.load {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right:auto;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Enable Hamburger nav */
@media (max-width:880px) {
    .nav-links {
        display: none;
    }

    /* #hamburger {
        display: block;
    } */
} 

/* Roughly Tablet size */
@media (max-width:800px) {
    .pfp{
        width:60px;
        height:60px;
    }
    .textbox{
        font-size:12px;
    }
    p{
        margin-left:0px;
    }

    #announcments p{
        margin-left:20px;
    }

    h1{
        font-size: larger;
        padding-left:0px;
    }

    #make-post h1{
        margin-left:10px;
    }

    #make-post form{
        width:90%;
        margin-left:10px;
    }

    #make-post label{
        font-size:small;
    }

    #make-post input[type="text"],
    #make-post textarea {
        font-size: 13px;
    }

    #user-intro h1{
        margin-left:10px;
    }

    #user-intro p{
        padding-left:10px;
        font-size: small;
    }

    .trash-icon img{
        width:15px;
        height:15px;
    }
}

/* Mobile */
@media (max-width:480px) {

    .pfp{
        width:40px;
        height:40px;
    }

    #content{
        width:85%;
    }

    .post{
        margin-left:10px;
        margin-right:10px;
    }

    .textbox{
        font-size:9px;
        width:95%;
    }

    h1{
        font-size: medium;
        padding-left:0px;
    }

    #make-post h1{
        margin-left:5px;
    }

    #make-post form{
        width:95%;
        margin-left:5px;
    }

    #make-post label{
        font-size:smaller;
    }

    #make-post,
    #user-intro{
        margin-bottom: 15px;
    }


    #make-post input[type="text"],
    #make-post textarea {
        font-size: 13px;
        padding:5px;
    }

    #make-post button{
        font-size: 12px;
        padding: 4px;
        width: 50px;
        border-radius: 4px;
    }

    #announcments p{
        margin-left:15px;
    }

    #announcments h1{
        margin-left:10px;
    }

    .trash-icon img{
        width:12px;
        height:12px;
    }

    /* #hamburger-content {
        width: 180px;
        font-size: 14px;
    } */
}