body{ 
    margin:0;
    background-color:#2b3137;
}

#container{
    max-width:768px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    height:100vh;
}

#content{ 
    margin-top:auto;
    margin-bottom:auto;
}

#login{ 
    justify-items:center;
    color:white;
    border-radius:20px;
    padding:10px;
    background-color:#24292e;
}
#loginform{
    display:flex;
    flex-direction: column;
    width:50%;
}

#loginform input{ 
    padding: 8px;
}

#loginform input[type = "submit"]:hover{ 
    cursor:pointer;
}