body{ 
    margin:0;
    background-color:#2b3137;
}

#container{
    max-width:768px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    height:100vh;
}

#content{ 
    margin-top:auto;
    margin-bottom:auto;
    width:70%;
}

#login{ 
    justify-items:center;
    color:whitesmoke;
    border-radius:20px;
    padding:20px;
    background-color:#24292e;
}

#loginform{
    display:flex;
    flex-direction: column;
    width:60%;
}

#loginform input{ 
    padding: 8px;
}

#loginform input[type = "submit"]:hover{ 
    cursor:pointer;
}

#container { 
    display:flex;
    justify-content:center;
    align-items: center;
}

#content{
    justify-content:center;
    align-items: center;
}

a{
    margin-top:10px;
    color:antiquewhite;
    text-decoration:none;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
a:hover{ 
    color:whitesmoke;
}


.warning{ 
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size:small;
    color:red;
}


.create{ 
    font-family: Arial,Arial, Helvetica, sans-serif;
    font-size:small;
    color:green;
}

p.warning,p.create {
    margin-bottom:0;
}


#moodr{
    all:unset;
    position: fixed;
    text-decoration: none;
    font-size:larger;
    top:20px;
    left:20px;
    color:whitesmoke;
}



/* Mobile */
@media (max-width:480px) {
    #loginform{
        width:80%;
    }
    h1{
        font-size: 22px;
    }
    a{
        font-size:small;
    }
    #loginform input{
        padding:5px;
    }
}