/* CSS for the Main Pages */

body {
    margin: 0;
    background-color: #2b3137;
    color: white;
    font-family: sans-serif, Arial, Helvetica, sans-serif;

}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header p.nav {
    margin-left: 10px;
}

.nav-links {
    margin-right: 20px;
}

.nav {
    all: unset;              /* Reset all properties */
    cursor: pointer;         /* Show pointer cursor */
    margin: 20px;
    text-decoration: none;
    color: white;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    width: 80%;
    min-height: 400px;
    padding: 20px;
    background-color: #24292e;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px; 
  }
  
  #left-column,
  #right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  #user-intro {
    background-color: white;
    color: #181e23;
    border-radius: 10px;
    padding: 20px;
  }
  
#user-intro {
    color: #181e23;
    width: 80%;
    margin-bottom: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: #181e23;
    padding-left: 20px;
    margin-left: 30px;
}

p {
    margin-left: 30px;
    padding-left: 20px;
}

