body{ 
    margin:0;
    background-color:#2b3137;
}

#container{
    max-width:768px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    height:100vh;
}

#content{ 
    margin-top:auto;
    margin-bottom:auto;
    width:70%;
}

#login{ 
    justify-items:center;
    color:white;
    border-radius:20px;
    padding:20px;
    background-color:#24292e;
}

#newAccountForm{
    display:flex;
    flex-direction: column;
    width:60%;
}

#newAccountForm input{ 
    padding: 8px;
}

#newAccountForm input[type = "submit"]:hover{ 
    cursor:pointer;
}

#container { 
    display:flex;
    justify-content:center;
    align-items: center;
}

#content{
    justify-content:center;
    align-items: center;
}

.warning{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

a{
    margin-top:15px;
    color:antiquewhite;
    text-decoration:none;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
a:hover{ 
    color:whitesmoke;
}

.invalid::-webkit-input-placeholder{
    color:red;
}